Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2024-05, with the labels that each got.

#30 Update spring security to fix CVE-2023-34034
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-30

#31 caseManagementLocation migration implementation
  build.gradle
  charts/sscs-ccd-case-migration/Chart.yaml
  charts/sscs-ccd-case-migration/values.yaml
  src/main/java/uk/gov/hmcts/reform/migration/CaseMigrationRunner.java
  src/main/java/uk/gov/hmcts/reform/migration/query/CaseManagementLocactionQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/query/DwpElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/CaseManagementLocationMigrationImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/query/CaseManagementLocationQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/query/DwpElasticSearchQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/CaseManagementLocationMigrationImplTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-31

#33 code coverage
  src/test/java/uk/gov/hmcts/reform/migration/service/CaseManagementLocationMigrationImplTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-33
