Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2025-04, with the labels that each got.

#70 SSCSCI-1765 - multiple hearing migrations
  src/main/java/uk/gov/hmcts/reform/migration/repository/CaseLoader.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-70

#73 SSCSCI-1789: sscs-common bump to 6.2.2
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-73

#72 SSCSCI-1729: set default panel composition using update listing requirement
  build.gradle
  charts/sscs-ccd-case-migration/Chart.yaml
  charts/sscs-ccd-case-migration/values.yaml
  src/main/java/uk/gov/hmcts/reform/migration/query/DefaultPanelCompositionQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/repository/EncodedStringCaseList.java
  src/main/java/uk/gov/hmcts/reform/migration/service/CaseMigrationProcessor.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/CaseOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/HmctsDwpStateMigrationImpl.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/WaFieldsRemovalServiceImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/query/DefaultPanelCompositionQueryTest.java
  src/test/java/uk/gov/hmcts/reform/migration/repository/EncodedStringCaseListTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/DwpCaseMigrationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-72
