Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2025-06, with the labels that each got.

#88 Bump sscs common(1894 changes)
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-88

#89 SSCSCI-1868: migrate from JitPack
  build.gradle
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/OldDraftAppealsArchiveService.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/OldDraftAppealsArchiveServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-89

#94 SSCSCI-1930: reset draft migration after test
  src/main/java/uk/gov/hmcts/reform/migration/query/OldDraftsSearchQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/OldDraftAppealsArchiveService.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/OldDraftAppealsArchiveServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-94
