Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2025-08, with the labels that each got.

#105 SSCSCI-1729: HearingRoute and PMC check
  src/main/java/uk/gov/hmcts/reform/migration/query/DefaultPanelCompositionQuery.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-105

#107 Update DefaultPanelCompositionQuery sort order
  src/main/java/uk/gov/hmcts/reform/migration/query/DefaultPanelCompositionQuery.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-107

#109 Sscsci 1729 panel member composition non null check
  src/main/java/uk/gov/hmcts/reform/migration/query/DefaultPanelCompositionQuery.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-109

#110 Add logging for DefaultPanelCompositionMigration
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-110

#114 Reduce parallelism to 10
  src/main/java/uk/gov/hmcts/reform/migration/service/CaseMigrationProcessor.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-114
