Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2025-05, with the labels that each got.

#77 SSCSCI-1839 multiple hearing cases with existing hearing outcome fix
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigration.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-77

#78 SSCSCI-1839 multiple hearing cases with existing hearing outcome fix
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigration.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-78

#79 SSCSCI-1729: set override duration if null
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigration.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-79

#80 SSCSCI-1846: adding java time module
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-80

#81 SSCSCI-1846: adding jdk8 module
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-81

#83 SSCSCI-1846: remove caseData conversion to prevent deserialisation issue
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigration.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-83

#85 SSCSCI-1862: sscs-common bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-85

#86 SSCSCI-1846: verify case state before running migration
  charts/sscs-ccd-case-migration/Chart.yaml
  charts/sscs-ccd-case-migration/values.yaml
  src/main/java/uk/gov/hmcts/reform/migration/repository/EncodedStringCaseList.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/CaseOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/HmctsDwpStateMigrationImpl.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/WaFieldsRemovalServiceImpl.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/migration/repository/EncodedStringCaseListTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/UpdateListingReqsMissingAmendReasonMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-86
