Repository hmcts/sscs-ccd-case-migration, pull requests merged in 2025-09, with the labels that each got.

#116 SSCSCI-2005: fix log msg
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/DefaultPanelCompositionMigration.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-116

#106 SSCSCI-1982: outcome migration
  build.gradle
  charts/sscs-ccd-case-migration/Chart.yaml
  charts/sscs-ccd-case-migration/values.yaml
  src/main/java/uk/gov/hmcts/reform/domain/common/CaseOutcomeMap.java
  src/main/java/uk/gov/hmcts/reform/migration/hmc/HmcHearingsApiService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/HearingOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/CaseOutcomeGapsMigrationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/CaseOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/CompletedHearingsOutcomesMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/FinalDecisionOutcomeMigration.java
  src/main/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/domain/common/CaseOutcomeMapTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/HearingOutcomeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/CaseOutcomeGapsMigrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/CompletedHearingsOutcomesMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/FinalDecisionOutcomeMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/MultipleHearingsOutcomeMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/migration/service/migrate/NonListedHearingsOutcomesMigrationTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-106

#117 bump up sscs-common to v6.3.10
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-117

#120 upgrade spring cloud
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-case-migration-pr-120
